/* Get around style override for margin-top*/
div.content {
    margin-top: -32px !important;
}

#preso, .content, .slide {
    background: #efedde;
    color: #333;
    font-family: Rockwell, Helvetica, Arial, sans-serif;
    text-align: left;
}

h1,h2, h3 {
    text-align: right;
    color: #333;
    font-family: Rockwell;
}

a:link {color:#f7681a;}
a:visited {color:#f7681a;}
a:hover {color:#2e2f2c;}

h1 {
    font-size: 3em;
    color: #efedde;
    background-color: #2e2f2c;
    padding: 0.25em 0 0.25em;
}

.content p {
    font-size: 3em;
    text-align: left;
}

.content > p {
    font-size: 2em;
    margin: 1em;
    text-align: left;
}

.bullets ol,dl,ul {
    text-align: left;
    list-style-type: disc;
    font-family: Rockwell, Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0px;
}

.content ol {
    margin-left: 40px;
    font-size: 2em;
    text-align: left;
    padding-left: 40px;
}

.content ol > li {
    list-style: decimal;
    display: list-item;
}

.content > ul {
    list-style: disc;
}

.content > ul {
    font-size: 2em;
    text-align: left;
    padding-left: 20px;
}
.content > ul > li {
    padding: .25em;
    margin-left: 40px;
}

.bullets > ul {
    list-style: none;
    font-size: 2em;
    padding-left: 0px;
}
.bullets > ul > li {
    text-align: center;
    padding: 25px;
}

.content ul ul {
    list-style: disc;
    margin: 10px 10px;
    padding-left: 20px;
    text-align: left;
}

.bullets ul ul > li { font-size: 80%; }

.command h1 {
    white-space: pre;
    font-family: Menlo, monospace;
    font-size: 2em;
}

.code {
    white-space: pre;
    font-family: Menlo, monospace;
}

pre.sh_sourceCode {
    font-family: Menlo, monospace;
    background-color: #f2f1f0;
    border: 1px solid #888;
}

pre {
    font-family: Menlo, monospace;
    border: 1px solid #888;
    margin: 1em 40px;
    padding: 0.25em;
}

pre, code {
    font-family: Menlo, monospace;
    background-color: #f2f1f0;
}

pre.sh_sourceCode .sh_keyword { color: darkblue; font-family:monospace; }   /* language keywords */
pre.sh_sourceCode .sh_type { color: darkgreen; font-family:monospace; }     /* basic types */
pre.sh_sourceCode .sh_usertype { color: teal; font-family:monospace; }      /* user defined types */
pre.sh_sourceCode .sh_string { color: green; font-family: monospace; }      /* strings and chars */
pre.sh_sourceCode .sh_regexp { color: orange; font-family: monospace; }     /* regular expressions */
pre.sh_sourceCode .sh_specialchar { color: pink; font-family: monospace; }  /* e.g., \n, \t, \\ */
pre.sh_sourceCode .sh_comment { color: gray; font-family:monospace; }       /* comments */
pre.sh_sourceCode .sh_number { color: purple; font-family:monospace; }      /* literal numbers */
pre.sh_sourceCode .sh_preproc { color: darkblue; font-family:monospace; }   /* e.g., #include, import */
pre.sh_sourceCode .sh_symbol { color: black; font-family:monospace; }       /* e.g., <, >, + */
pre.sh_sourceCode .sh_function { color: black; font-family:monospace; }     /* function calls and declarations */
pre.sh_sourceCode .sh_cbracket { color: black; font-family:monospace; }     /* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_todo { font-weight: bold; background-color: cyan; font-family:monospace; } /* TODO */

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: darkblue; font-family:monospace; }
pre.sh_sourceCode .sh_predef_func { color: darkblue; font-weight: bold; font-family:monospace; }

/* for OOP */
pre.sh_sourceCode .sh_classname { color: #F00; font-family:monospace; }

/* line numbers (not yet implemented) */
pre.sh_sourceCode .sh_linenum { color: black; font-family: monospace; }

/* Internet related */
pre.sh_sourceCode .sh_url { color: blue; text-decoration: underline; font-family: monospace; }

/* for ChangeLog and Log files */
pre.sh_sourceCode .sh_date { color: blue; font-weight: bold; font-family:monospace; }
pre.sh_sourceCode .sh_time, pre.sh_sourceCode .sh_file { color: darkblue; font-weight: bold; font-family:monospace; }
pre.sh_sourceCode .sh_ip, pre.sh_sourceCode .sh_name { color: darkgreen; font-family:monospace; }

/* for Prolog, Perl... */
pre.sh_sourceCode .sh_variable { color: darkgreen; font-family:monospace; }

/* for LaTeX */
pre.sh_sourceCode .sh_italics { color: darkgreen; font-style: italic; font-family:monospace; }
pre.sh_sourceCode .sh_bold { color: darkgreen; font-weight: bold; font-family:monospace; }
pre.sh_sourceCode .sh_underline { color: darkgreen; text-decoration: underline; font-family:monospace; }
pre.sh_sourceCode .sh_fixed { color: green; font-family: monospace; }
pre.sh_sourceCode .sh_argument { color: darkgreen; font-family:monospace; }
pre.sh_sourceCode .sh_optionalargument { color: purple; font-family:monospace; }
pre.sh_sourceCode .sh_math { color: orange; font-family:monospace; }
pre.sh_sourceCode .sh_bibtex { color: blue; font-family:monospace; }

/* for diffs */
pre.sh_sourceCode .sh_oldfile { color: orange; font-family:monospace; }
pre.sh_sourceCode .sh_newfile { color: darkgreen; font-family:monospace; }
pre.sh_sourceCode .sh_difflines { color: blue; font-family:monospace; }

/* for css */
pre.sh_sourceCode .sh_selector { color: purple; font-family:monospace; }
pre.sh_sourceCode .sh_property { color: blue; font-family:monospace; }
pre.sh_sourceCode .sh_value { color: darkgreen; font-style: italic; font-family:monospace; }

/* other */
pre.sh_sourceCode .sh_section { color: black; font-weight: bold; font-family:monospace; }
pre.sh_sourceCode .sh_paren { color: red; font-family:monospace; }
pre.sh_sourceCode .sh_attribute { color: darkgreen; font-family:monospace; }